apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  name: k0s
spec:
  api:
    #address:
    k0sApiPort: 9443
    port: 6443
    sans:
      - k0first
      - k0first.lolloandr.com
  storage:
    type: kine
    etcd:
      #peerAddress:
    kine:
      dataSource: sqlite:////var/lib/k0s/kine.db
  network:
    nodeLocalLoadBalancing:
      enabled: false
      envoyProxy:
        apiServerBindPort: 7443
        konnectivityServerBindPort: 7132
      type: EnvoyProxy
    clusterDomain: cluster.local
    dualStack:
      enabled: false
      IPv6podCIDR: 2001:cafe:42:0::/96
      IPv6serviceCIDR: 2001:cafe:42:1::/112
    kubeProxy:
      iptables:
        minSyncPeriod: 0s
        syncPeriod: 0s
      ipvs:
        strictARP: true
        minSyncPeriod: 0s
        syncPeriod: 0s
        tcpFinTimeout: 0s
        tcpTimeout: 0s
        udpTimeout: 0s
      metricsBindAddress: 0.0.0.0:10249
      # We find that ipvs it the only mode which works with metallb
      mode: ipvs
      nftables:
        minSyncPeriod: 0s
        syncPeriod: 0s
    kuberouter:
      autoMTU: true
      hairpin: Enabled
      metricsPort: 8080
      type: EnvoyProxy
    podCIDR: 10.244.0.0/16
    provider: kuberouter
    serviceCIDR: 10.96.0.0/12
  extensions:
    helm:
      concurrencyLevel: 5
  telemetry:
    enabled: false
